@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap");

.navbar {
  background-color: rgb(32, 121, 246);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0rem 0.5rem;
  height: 4rem;
  font-family: "Roboto Mono", monospace;
}
.header-name {
  text-decoration: none;
  color: white;
}
.header-name:hover {
  text-shadow: 0px 1px 10px rgb(5, 209, 250);
}
#nav-input {
  height: 2rem;
  margin: auto;
  border: none;
  outline: none;
  font-size: 1rem;
  width: 30%;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  border-radius: 0.2rem;
}
.user-nav-info:hover {
  text-shadow: 0px 1px 10px rgb(5, 209, 250);
}
